h1{
  color: blue;
  font-family: cursive;
}

h2.changetype{
  font-size: 40px;
  text-decoration: none;
}
h2{
  color: #408000;
}

body{
  background-color:  #cce6ff;
}

.changetype{
  color:#336600;
}

p{
  font-size: 30px;
  border: 2px solid #1a75ff;
  width: 250px;
  background-color: #ffffcc;
  border-radius:5px;
  padding: 4px;
  margin: left;
}
.about p{
  color:blue;
  width:400px;
  font-size: 20px;
}
.intro img{
  border-radius: 20px;

}
.include{
  width: 400px;
}
