h1{
  color: blue;
  font-family: cursive;
}

h2.changetype{
  font-size: 40px;
  text-decoration: none;
}
h2{
  color: #408000;
}

body{
  /*background-color:  #cce6ff;*/
  /*background-image: url("code.jpg");*/
}

.changetype{
  color:#336600;
}

p{
  /*font-size: 20px;*/
  border: 2px thin #000080;
  width: 250px;
  background-color: #ffffcc;
  /*border-radius:5px;*/
  padding: 4px;
  margin: left;
}
.about p{
  color:#000080;
  width:400px;
  height: 600px;
  /*font-size: 18px;*/
}
 img{
  /*border-radius: 400px;*/


}
.include{
  width: 400px;
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  body{
    background-color: black;
    color: green;
  }
}
@media screen and (max-width:480px){
  body{
    background-color: teal;
  }
}
