h1 {
	color: blue;
	font-family: cursive;
}

h2.changetype {
	font-size: 40px;
	text-decoration: none;
}

h2 {
	color: #408000;
}

body {
	background-color: #EBDEF0;
	/*background-image: url('img/code.jpeg');*/
}

#img_float_align {
	float: right;
	text: 10px;
}

.changetype {
	color: #336600;
}

p {
	font-size: 20px;
	border: 2px thin #000080;
	width: 400px;
	background-color: #E2E2EA;
	/*border-radius:5px;*/
	padding: 4px;
	margin: left;
	margin-bottom: 80px;
}

.about p {
	color: #000080;
	width: 600px;
	height: 600px;
	/*font-size: 18px;*/
}

img {
	/*border-radius: 400px;*/
	padding: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.include {
	width: 400px;
}

.sidebar {
	margin-left: 60px;
}

.hobbies {
	margin-left: 5px;
}

.background {
	margin-left: 60px;
}

#welcome_text {
	padding: 30px;
	padding-bottom: 20px;
	margin: 20px;
	margin-top: 45px;
}

#csm_logo {
	margin-top: 10px;
	margin-left: 10px;
}

.space{
	margin-left: 2px;
}

.aws_logo {
	margin-bottom: 10px;
	margin-top: 10px;
}

.header {
	text-align: center;
}

@media screen and (max-width: 768px) and (min-width: 600px) {
	body {
		background-color: black;
		color: green;
	}
}

@media screen and (max-width:480px) {
	body {
		background-color: teal;
	}
	.centerTest {
		width: 100%;
		text-align: center;
	}
}

h4 {
	text-align: ;
}

.bg-info span {
   font-size: 140%;
   background: inherit;
}
